# BEGIN: /home/shashank/Projects/levitation/.gitignore
.env
.env.*
# END: /home/shashank/Projects/levitation/.gitignore
node_modeules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
